/* Base Styles */
body {
    font-family: 'San Francisco', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f7f7f9;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
}

/* For smooth transitions */
* {
    transition: all 0.3s ease-out;
}

h1 {
    font-weight: 600;
    font-size: 2.5em;
    margin: 20px 0;
}

/* Login Div */
#loginDiv {
    max-width: 400px;
    margin: 100px auto;
    background-color: #fff;
    border-radius: 12px;
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* 
.form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
} */

.btn {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007BFF;
    border-color: #007BFF;
    color: #fff;
}

.btn-default {
    background-color: #fff;
    border-color: #007BFF;
    color: #007BFF;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0056b3;
    border-color: #004699;
}

.btn-default:hover, .btn-default:focus {
    background-color: #f1f1f1;
    border-color: #0056b3;
    color: #004699;
}


.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


#loginResult {
    display: block;
    margin-top: 15px;
    text-align: center;
    font-size: 16px;
}

#topDiv {
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e9;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#logoutButton {
    float: right;
}




/* Display Div */
#displayDiv {
    max-width: 80%;
    margin: 20px auto;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

th, td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #e7e7e9;
}

th {
    font-weight: 600;
    background-color: #f7f7f9;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e7e7e9;
}

#searchDiv {
    margin-top: 70px;  
    background-color: #fff;
    padding: 20px 40px;
    max-width: 700px;  /* slightly wider for the dropdown */
    margin: 70px auto 20px auto;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchBar {
    flex: 2;  /* Take more space */
    margin-right: 20px;  /* Space between input and dropdown */
}

#searchType {
    flex: 1;  /* Dropdown takes lesser space than search bar */
    margin-right: 20px;  /* Space between dropdown and button */
}

#searchButton {
    flex: 0;  /* Takes only the space it needs */
}

/* Add Contact Div with Spaced Input Boxes */
#addDiv {
    background-color: #fff;
    padding: 20px 40px;
    width: 100%; /* Take the full width of the parent container */
    max-width: 1000px;
    margin: 120px auto; /* To center it horizontally */
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr auto; 
    gap: 20px;
    align-items: center;  /* Center align content vertically in each grid cell */
}

#addButton {
    grid-column: 5;  
}

.form-control {
    border: 1px solid #ccc;
    border-radius: 8px;
    height: 50px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 5px;  /* Adjusted spacing */
    background-color: #f7f7f9;  
}
