body 
{
    margin: 0;
    padding: 0;
    height: 100%;
}

/* .background-image-class {
    background-image: url('./theLinkster.png');
} */

#title 
{
    font-size: 40px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#registration
{
    font-family: 'Ubuntu', sans-serif;
    color:#000000;
}

#loginDiv
{
    font-size: 30px;
    width: 70%;
    /* margin-left: 15%; */
    margin: 15%;
    padding: 25px;
    background-color: #b2b2b2;
    border-radius: 50px;
    border-color: #95060a;
}

#signUpDiv
{
    font-size: 30px;
    width: 30%;
    /* margin-left: 15%; */
    margin: auto;
    /* padding: 25px; */
    background-color: #b2b2b2;
    border-radius: 50px;
    border-color: #95060a;
}

#loggedInDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

#accessUIDiv
{
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;
    background-color: #b2b2b2;
}

.buttons
{
    font-size: 30px;
    /* border-radius: 25px; */
    width: 50%;
    margin-left: 25%;
    font-family: 'Ubuntu', sans-serif;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

.header {
    display: grid;
    text-align: center;
    background: #7FD4FF;
    color: black;
    padding: 20px;
    font-size: 60;
    border-radius: 50px;
}

#loginName
{
	font-size: 30px;
}

#firstName
{
	font-size: 30px;
}

#lastName
{
	font-size: 30px;
}

#email
{
	font-size: 30px;
}

#phoneNumber
{
	font-size: 30px;
}

#loginPassword
{
	font-size: 30px;
}

#searchText
{
	font-size: 30px;
}

#colorText
{
	font-size: 30px;
}

input[type="text"],input[type="password"], input[type="number"]{
    border-radius: 25px;
    text-align: left;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
}


#inner-title{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #000000;
}

#loginResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#signUpResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-bottom: 2%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}

#userName{
    display: inline-block;
    width: 80%;
    margin-left: 10%;
    text-align: center;
}


#logoutButton{
    width: 20%;
    margin-left: 40%;
}

select{
    width: 30%;
    margin-left: 35%;
    margin-top: 2%;
    font-size: 0.75em;
    font-family: 'Ubuntu', sans-serif;
}

#colorSearchResult{
    display: none;
}

#colorAddResult{
    display: inline-block;
    font-size: 0.8em;
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 1%;
    font-family: 'Ubuntu', sans-serif;
    color: #95060a;
}